<h1 class="w3-xlarge"><i class="fa fa-user fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Acerca de mí</h1>
<hr style="width:250px" class="w3-opacity">
<img src="{{ author.avatar }}"
     alt="Avatar"
     class="w3-border w3-left w3-circle w3-margin-right w3-boder-white w3-hover-opacity"
     style="width:10%; height:15%;"
>
<h3 class="w3-medium w3-margin-right w3-text-teal">{{ author['first-name'] }} {{ author['last-name'] }}</h3>
<p class="w3-medium w3-margin-right">{{ author.presentation.large }}</p>
