<h2><i class="fa fa-envelope fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Contact</h2>
<hr style="width:250px" class="w3-opacity">
<div class="w3-section">
<p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>{{ author.residency }}</p>
<p>
  <a href="{{ author['whats-app-message'] }}">
  <i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>{{ author['cell-phone'] }}
  </a>
</p>
<p>
  <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>{{ author.email }}
</p>
</div>
<br>
<div class="container">
<div class="row">
<div class="column">
    <img src="{{ author.avatar }}" style="width:100%;" class="w3-left w3-margin-right">
</div>
<div class="column">
    <form action="/">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your Email..">
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
    <button style="width: 100%;" class="w3-button w3-teal w3-padding-large" type="submit">
    <i class="fa fa-paper-plane"></i> Submit
    </button>
    </form>
</div>
</div>
</div>
