<h2 class="w3-xlarge"><i class="w3-xlarge fa fa-envelope fa-fw w3-margin-right w3-text-teal"></i>Contacto</h2>
<hr style="width:250px"
    class="w3-opacity"
>
<div class="w3-section">
<p class="w3-medium"><i class="w3-medium fa fa-map-marker fa-fw w3-text-teal w3-margin-right"></i>{{ author.residency }}</p>
<p class="w3-medium">
    <a href="{{ author['whats-app-message'] }}">
    <i class="w3-medium fa fa-phone fa-fw w3-text-teal w3-medium w3-margin-right"></i>{{ author['cell-phone'] }}
    </a>
</p>
<p class="w3-medium">
    <i class="w3-medium fa fa-envelope fa-fw w3-text-teal w3-medium w3-margin-right"></i>{{ author.email }}
</p>
</div>
<br>
<div class="container">
<div class="row">
<div class="column">
    <img src="{{ author.avatar }}"
         style="width:100%;"
         class="w3-left w3-margin-right"
    >
</div>
<div class="column">
    <form action="/">
    <label class="w3-medium w3-text-black"
           for="name"
    >
        Nombre:
    </label>
    <input class="w3-medium"
           type="text"
           id="name"
           name="name"
           placeholder="Tu nombre.."
    >
    <label class="w3-medium w3-text-black"
           for="email"
    >
        Correo Electronico:
    </label>
    <input class="w3-medium"
           type="text"
           id="email"
           name="email"
           placeholder="Tu correo electronico.."
    >
    <label class="w3-medium w3-text-black"
           for="subject"
    >
        Asunto:
    </label>
    <input class="w3-medium"
           type="text"
           id="subject"
           name="subject"
           placeholder="Escribir asunto.."
    >
    <label class="w3-medium w3-text-black"
           for="message"
    >
        Mensaje:
    </label>
    <textarea class="w3-medium"
              id="message"
              name="message"
              placeholder="Escribir mensaje.."
              style="height:170px"
    ></textarea>
    <button style="width: 100%;"
            class="w3-medium w3-button w3-teal w3-padding-large"
            type="submit"
    >
    <i class="w3-medium fa fa-paper-plane"></i> Enviar
    </button>
    </form>
</div>
</div>
</div>
