{%- assign author = site.data.author -%}
<div class="w3-padding-16 w3-content w3-text-light-grey" id="home">
{%- include sections/header.html -%}
</div>
<div class="w3-padding-16 w3-content w3-text-light-grey" id="about">
{%- include sections/about.html -%}
<br>
{%- include sections/skills.html -%}
</div>
<hr style="width:100%" class="w3-opacity">
<div class="w3-padding-16 w3-content w3-text-light-grey" id="education">
{%- include sections/education.html -%}
</div>
<hr style="width:100%" class="w3-opacity">
<div class="w3-padding-16 w3-content w3-text-light-grey" id="experience">
{%- include sections/experience.html -%}
</div>
<hr style="width:100%" class="w3-opacity">
<div class="w3-padding-16 w3-content w3-text-light-grey" id="contact">
{%- include sections/contact.html -%}
</div>
{%- include footer.html -%}