/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
    background: #dff;
}
}

a {
    color: #149ddd;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
}

.back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#header {
    transition: all ease-in-out 0.5s;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}
#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu {
    padding-top: 30px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active>a i,
.nav-menu li:hover>a i {
    color: #149ddd;
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #149ddd;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Portada Section
--------------------------------------------------------------*/

#about h1 {
    font-weight: 700;
    font-size: 34px;
    color: #173b6c;
}

#about p {
    margin-bottom: 20px;
}

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #149ddd;
}

.about .content p:last-child {
    margin-bottom: 20px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/

#experience h1,h2, h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 1rem 0;
	line-height: 1.85rem;
}
h1{
	font-size: 1.85rem;
	margin-bottom: .5rem;
}
h2{
	font-size: 1.45rem;
}
h2:before{
    display: block;
    content: " ";
    margin-top: -4rem;
    height: 4rem;
    visibility: hidden;
}
h3{
	font-size: 1.25rem;
}

h1 img{
	float: left;
	width: 120px;
	margin: 0 1em .5em 0;
}

p{
	margin-bottom: 1rem;
}

table{border: 1px dotted #ccc;margin-bottom: 2rem;width: 100%;}

table td,
table th{
	border: 1px dotted #ccc;
	padding: .5em;
}
table th{
	text-transform: uppercase;
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background: #f7f7f7;
}

.experience .expertise tbody tr:hover{
	background-color: #f4f4f4;
	transition: background-color .5s;
	cursor: pointer;
}

.experience .expertise td:nth-child(3),
.experience .expertise td:nth-child(4){
	text-align: center;
}

.experience .expertise content strong{
	font-weight: 400;
}
ul{
	list-style-type: square;
	margin: 0 0 1rem 2rem;
}
li{
	margin-bottom: .5rem;
}


.experience .expertise.inline{
	list-style-type: none;
	margin: 0;
	display: inline-block;
	word-wrap: normal;
}
.experience .expertise.inline li{
	display: inline-block;
}
.experience .expertise.inline li:after{
	content: ', ';
}
.experience .expertise.inline li:last-child:after{
	content: '.';
}
.experience .expertise.inline li:nth-last-child(2):after{
	content: ' y ';
}

iframe{
	width: 100%;
	margin-bottom: 1rem;
}

.experience .expertise.center{
	text-align: center;
}
.experience .expertise.btn{
	background-color: #FF9800;
	color: white;
	text-decoration: none;
	padding: .5rem 1rem;
	border-radius: 5px;
	text-shadow: 0px 0 1px #000;
	display: inline-block;
}
form{
	border: 1px dotted #ccc;
	padding: 1rem;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}
label{
	width: 20%;
}
button[type="submit"]{
}


.experience .expertise.linkify{
	text-decoration: underline;
	color: rgb(0, 0, 238);
	cursor: pointer;
}

input,select,textarea{
	width: 400px;
}

.experience .expertise.modal{
	position: fixed;
	z-index: 1;
	top: 4rem;
	background-color: white;
	border: 1px solid #ccc;
	padding: 1rem;
	margin-left: -300px;
	width: 600px;
	left: 50%;
	box-shadow: 0px 0px 7px #ccc;
	transition: top 1s;
}
.experience .modal.closed{
	top: -500px;
}.close{
	float: right;
	cursor: pointer;
	font-weight: 400;
	border: 1px solid #ccc;
	padding: 6px 9px;
	border-radius: 100%;
	font-size: 0.9rem;
	line-height: .8rem;
	color: #999;
	position: relative;
	top: -32px;
	background-color: white;
	right: -32px;
	box-shadow: 0 0 3px #ccc;
}

.experience .expertise-list{
	display: none;
}

.experience .expertise-list.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.experience .expertise-list.loader:before, .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.experience .expertise-list.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
td[colspan="4"]{
	background-color: #f1f1f1;
	height: 230px;
}
.experience .expertise-list.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.experience .expertise-list.loader:after {
  left: 1.5em;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}


textarea, input, select{
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 2.25rem;
	font-size: .9rem;
	font-weight: 300;
	width: 80%;
	margin-bottom: .5rem;
}
textarea{
	height: 6rem;
}
button{
	background-color: #0078e7;
	color: #fff;
	padding: .5em 1em;
	border: 0 rgba(0,0,0,0);
	border-radius: 2px;
	width: 80%;
	font-size: .9rem;
	font-weight: 300;
}
select{
	height: 2.25rem;
	border: 1px solid #ccc;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
}

input:focus, textarea:focus, select:focus{
	border-color: #129FEA;
	outline: none;
	box-shadow: none;
}
input:focus, textarea:focus, keygen:focus, select:focus {
	outline-offset: -2px;
}

#experience .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}

#experience .content ul {
    list-style: none;
    padding: 0;
}

#experience .content ul li {
    padding-bottom: 10px;
}

#experience .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #149ddd;
}

#experience .content p:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .icon-box {
    margin-bottom: 20px;
}

.skills .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #149ddd;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #149ddd;
}

.skills .icon i {
    color: #fff;
    font-size: 24px;
}

.skills .icon-box:hover .icon {
    background: #fff;
}

.skills .icon-box:hover .icon i {
    color: #149ddd;
}

.skills .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.skills .title a {
    color: #343a40;
}

.skills .title a:hover {
    color: #149ddd;
}

.skills .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/

.education .education-item {
    margin-bottom: 30px;
}

#education td:nth-child(3){
	text-align: center;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

.projects .proyectos-item {
    margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
    padding-bottom: 130px;
}

.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .info .social-links {
    padding-left: 60px;
}

.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #37b3ed;
}


