<!DOCTYPE HTML>
<html>
<head>    
    {% include 'head.html' %}    
    <link rel="stylesheet" href="static/css/404.css">
    <title>Page not found - Alan Matzumya</title>
</head>
<body class="w3-black">

{% include 'navigator.html' %}    

<div class="w3-padding-large" id="main">    
    
    <header class="w3-container w3-padding-32 w3-center">
        
        <h1 class="w3-jumbo"><span class="w3-hide-small">404</h1>
            <p>The requested page could not be found.</p>
            <a href="/" class="w3-button w3-black w3-padding-large w3-hover-white">Back Home</a>
        <section id="solar-system">
            <div id="sun"></div>
            <article id="mercury-trajectory">
                <div id="mercury"></div>
            </article>
            <article id="venus-trajectory">
                <div id="venus"></div>
            </article>
            <article id="earth-trajectory">
                <div id="earth"></div>
            </article>
            <article id="mars-trajectory">
                <div id="mars"></div>
            </article>
        </section>
    </header>
</div>    
{% include 'footer.html' %}
</div>    
</body>
</html>
